# Pinned to what this project was developed and verified against.
# openMotor itself is not listed: it is GPLv3 and is cloned by scripts/setup_env.sh
# rather than redistributed here. See NOTICE.md.
numpy<2
scipy==1.13.1
scikit-fmm==2025.1.29
scikit-image==0.24.0
PyYAML==6.0.3
matplotlib==3.9.4
scikit-learn==1.6.1
pandas==2.3.3
pyarrow
ezdxf
pymoo==0.6.1.5
joblib
cython
fastapi
uvicorn[standard]
plotly
pytest
pymupdf
